a{
    --bs-navbar-brand-color: #ffffff;
    --bs-navbar-brand-hover-color: #bfbfbf;
    --bs-nav-link-color: #ffffff;
    --bs-nav-link-hover-color: #bfbfbf;
    --bs-navbar-hover-color: #ffffff;
    --bs-navbar-disabled-color: #bfbfbf;
}
.fa-magnifying-glass{
    color: white;
}